body {
  align-items: center;
  background-color: #222;
  color: #eee;
  display: flex;
  flex-direction: column;
  font-family: 'Gugi', cursive;
  font-size: 20px;
}

.screen-reader-text {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

h1 {
  text-align: center;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

input {
  border: none;
  border-radius: 5px;
  margin: 2em 0;
  outline: none;
  padding: 0.5em;
  text-align: center;
  transition: box-shadow 0.4s;
}

input:focus {
  box-shadow: 0 0 0.5em 0.25em #fff;
}

button {
  background-color: #393939;
  border: 3px solid #eee;
  border-radius: 10px;
  color: #eee;
  outline: none;
  padding: 0.5em;
  transition: background-color, box-shadow 0.4s;
}

button:active,
button:hover,
button:focus {
  background-color: #999;
  box-shadow: 0 0 0.5em 0.25em #fff;
}

.giant-btn {
  border-radius: 100%;
  box-shadow: 0 0 0.5em #fff;
  font-size: 3.052em;
  max-width: 85vw;
  padding: 1.25em 0;
  text-transform: uppercase;
}
